@import url("css/theme.css"); 

/* now we can add any custom css */

/* override table width restrictions 
   documented here: https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html 
   make the content wider than the default 
*/
.wy-nav-content {
   max-width: 900px !important;
}
